body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
  padding: 20px;

  h1 {
    color: #333;
  }

  form {
    margin-top: 20px;

    input {
      padding: 10px;
      font-size: 16px;
      width: 300px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .response {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
  }
}

// App starts here
.App {
  text-align: center;
}

h2 {
  text-transform: capitalize;
} 
.speak {
  border: 1px solid #0000006E;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  cursor:pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-direction: row;
  justify-content:flex-start;
}

ul > li {
  justify-content: center;
}

li a {
  padding: 10px 20px ; 
  background-color: bisque;
  border: 1px solid #0000006E;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover {
  background-color: cadetblue;
  color: #ffffff;
}

ul li ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.pokemon-type {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.type {
  font-size: 14px;
  color: rgba(#fff, 0.9);
  // text-shadow: 1px 1px 2px pink;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: capitalize;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

  &.normal { background-color: #A8A77A;} 
  &.fire { background-color: #EE8130; }
  &.water { background-color: #6390F0; }
  &.electric { background-color: #F7D02C; }
  &.grass { background-color: #7AC74C; }
  &.ice { background-color: #96D9D6; }
  &.fighting { background-color: #C22E28; }
  &.poison { background-color: #A33EA1; }
  &.ground { background-color: #E2BF65; }
  &.flying { background-color: #A98FF3; }
  &.psychic { background-color: #F95587; }
  &.bug { background-color: #A6B91A; }
  &.rock { background-color: #B6A136; }
  &.ghost { background-color: #735797; }
  &.dragon { background-color: #6F35FC; }
  &.dark { background-color: #705746; }
  &.steel { background-color: #B7B7CE; }
  &.fairy { background-color: #D685AD; }
}